<div class="page-wrapper">
  <div class="editor-controls">
    <div class="upload-container">
      <label for="file-upload" class="custom-file-btn">
        <span id="file-name">Choose Image</span>
      </label>
      <input type="file" accept="image/*" (change)="onFileChange($event)" class="inp-file" id="file-upload" />
    </div>
    <button (click)="addTextZone()" [disabled]="!imageLoaded" class="control-btn">Add Text Zone</button>
    <button (click)="saveImage()" [disabled]="!imageLoaded" class="control-btn">
      <span *ngIf="!isLoading">Save</span>
        <span *ngIf="isLoading">
          <i class="fas fa-spinner fa-spin"></i> Saving...
        </span>
    </button>
    <button (click)="goToGallery()" class="control-btn">Cancel</button>
  </div>

  <div #container class="editing" (click)="hideCustomizeControls()">
  <div #container class="canvas-container" (click)="hideCustomizeControls()" >
    <canvas #imageCanvas width="600" height="600" class="img-container"></canvas>
    <ng-container *ngFor="let zone of textZones">
      <div class="text-zone"
          (mousedown)="startDrag($event, zone)"
          [ngStyle]="{
            left: zone.x + 'px', 
            top: zone.y + 'px',
            width: zone.width + 'px',
            height: zone.height + 'px',
            'font-size': zone.fontSize + 'px',
            'color': zone.color,
            'font-family': zone.fontFamily
          }">

        <button class="customize-btn" (click)="toggleCustomizeControls($event, zone)">+</button>
        <button class="close-btn" (click)="closeTextZone(zone.id)">X</button>
        <div class="editable-text" 
            contenteditable="true" 
            data-placeholder="Enter text here"
            (mousedown)="$event.stopPropagation()"
            (focus)="onTextFocus($event, zone)"
            (blur)="onTextBlur($event, zone)"
            (input)="updateZoneText($event, zone)"
            [style.color]="zone.color">
          </div>

        <div class="resize-handle" (mousedown)="startResize($event, zone)"></div>

        <div class="customize-controls" *ngIf="currentFocusedZoneId === zone.id" (click)="$event.stopPropagation()">
          <input type="color" [(ngModel)]="zone.color" title="Select text color" />
          <select [(ngModel)]="zone.fontFamily" name="fontFamily" 
          (mousedown)="$event.stopPropagation()" >
            <option value="Arial">Arial</option>
            <option value="Helvetica">Helvetica</option>
            <option value="Times New Roman">Times New Roman</option>
            <option value="Courier New">Courier New</option>
          </select>
          <button type="button" (click)="changeFontSize(zone,1)">+</button>
          <button type="button" (click)="changeFontSize(zone,-1)">-</button>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="preview-container">
    <div class="preview-box">
      <h3>Before</h3>
      <canvas #beforeCanvas width="300" height="200" class="img-container"></canvas>
    </div>
    <div class="arrow">&#8595;</div>
    <div class="preview-box">
      <h3>After</h3>
      <canvas #afterCanvas width="300" height="200" class="img-container"></canvas>
    </div>
  </div>
</div>